{% extends 'vocabulary/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Managing | {{block.super}}{% endblock %}

{% block head %}
  <script src="{% static 'scripts/forms.js' %}"></script>
{% endblock %}

{% block vocabulary %}
<div class="defaultwidth">
  <header>
      <h2>Manage Vocabulary</h2>
  </header>
  <main class="container">
      <h3>{{language}}</h3>
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
          <fieldset>
            {% for field in form %}
              <div class="form-group{% if field.errors %} has-error {% endif %}">
                <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                <div class="">
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
              <div class="form-group">
                <div class="">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
          </fieldset>
      </form>
  </main>
  <aside class="defaultwidth">
    {% if image %}
      <img id="id_show_image" class="img" src="{{image.get_image_url}}" alt="{{image}}">
    {% else %}
      <img id="id_show_image" class="img" src="{% static 'images/generic-avatar.png' %}" alt="{{image}}">
    {% endif %}
  </aside>
</div>

<script type="text/javascript">
  showPhoto();
</script>
{% endblock %}
